.hero-horizons {
  --hero-bar: linear-gradient(#0c0d0d, #673de6 45.19%, #a98cf1 62%, #e4dcfa 80%, #fff 95%);
}

.hero-horizons .horizons-gradient-wrapper {
  background-color: inherit;
  width: 100%;
  height: 1104px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.hero-horizons .horizons-gradient-wrapper::after {
  content: "";
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-horizons .horizons-gradient {
  z-index: 0;
  background: var(--hero-bar);
  width: 175px;
  height: 1100px;
  position: absolute;
  top: 20px;
  left: 0;
}

.hero-horizons .horizons-gradient--large {
  width: 260px;
  left: 50%;
  transform: translate(-50%);
}

.hero-horizons .horizons-gradient--left-5,
.hero-horizons .horizons-gradient--right-5 {
  height: 380px;
  top: 740px;
}

.hero-horizons .horizons-gradient--left-4,
.hero-horizons .horizons-gradient--right-4 {
  height: 500px;
  top: 620px;
}

.hero-horizons .horizons-gradient--left-3,
.hero-horizons .horizons-gradient--right-3 {
  height: 620px;
  top: 500px;
}

.hero-horizons .horizons-gradient--left-2,
.hero-horizons .horizons-gradient--right-2 {
  height: 740px;
  top: 380px;
}

.hero-horizons .horizons-gradient--left-1,
.hero-horizons .horizons-gradient--right-1 {
  height: 860px;
  top: 260px;
}

.hero-horizons .horizons-gradient--left-0,
.hero-horizons .horizons-gradient--right-0 {
  height: 980px;
  top: 140px;
}

.hero-horizons .horizons-gradient--left-5 {
  left: 50%;
  transform: translate(calc(-50% - 1092.5px));
}

.hero-horizons .horizons-gradient--left-4 {
  left: 50%;
  transform: translate(calc(-50% - 917.5px));
}

.hero-horizons .horizons-gradient--left-3 {
  left: 50%;
  transform: translate(calc(-50% - 742.5px));
}

.hero-horizons .horizons-gradient--left-2 {
  left: 50%;
  transform: translate(calc(-50% - 567.5px));
}

.hero-horizons .horizons-gradient--left-1 {
  left: 50%;
  transform: translate(calc(-50% - 392.5px));
}

.hero-horizons .horizons-gradient--left-0 {
  left: 50%;
  transform: translate(calc(-50% - 217.5px));
}

.hero-horizons .horizons-gradient--right-0 {
  left: auto;
  right: 50%;
  transform: translate(calc(50% + 217.5px));
}

.hero-horizons .horizons-gradient--right-1 {
  left: auto;
  right: 50%;
  transform: translate(calc(50% + 392.5px));
}

.hero-horizons .horizons-gradient--right-2 {
  left: auto;
  right: 50%;
  transform: translate(calc(50% + 567.5px));
}

.hero-horizons .horizons-gradient--right-3 {
  left: auto;
  right: 50%;
  transform: translate(calc(50% + 742.5px));
}

.hero-horizons .horizons-gradient--right-4 {
  left: auto;
  right: 50%;
  transform: translate(calc(50% + 917.5px));
}

.hero-horizons .horizons-gradient--right-5 {
  left: auto;
  right: 50%;
  transform: translate(calc(50% + 1092.5px));
}

.hero-horizons .horizons-gradient--first::before,
.hero-horizons .horizons-gradient--last::before {
  content: "";
  background: var(--hero-bar);
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
}

.hero-horizons .horizons-gradient--first::before {
  right: 100%;
  left: auto;
}

.hero-horizons .horizons-gradient--last::before {
  left: 100%;
}

@media (width >= 768px) {
  .hero-horizons .horizons-gradient--large {
    width: 524px;
  }

  .hero-horizons .horizons-gradient--left-5 {
    transform: translate(calc(-50% - 1224.5px));
  }

  .hero-horizons .horizons-gradient--left-4 {
    transform: translate(calc(-50% - 1049.5px));
  }

  .hero-horizons .horizons-gradient--left-3 {
    transform: translate(calc(-50% - 874.5px));
  }

  .hero-horizons .horizons-gradient--left-2 {
    transform: translate(calc(-50% - 699.5px));
  }

  .hero-horizons .horizons-gradient--left-1 {
    transform: translate(calc(-50% - 524.5px));
  }

  .hero-horizons .horizons-gradient--left-0 {
    transform: translate(calc(-50% - 349.5px));
  }

  .hero-horizons .horizons-gradient--right-0 {
    transform: translate(calc(50% + 349.5px));
  }

  .hero-horizons .horizons-gradient--right-1 {
    transform: translate(calc(50% + 524.5px));
  }

  .hero-horizons .horizons-gradient--right-2 {
    transform: translate(calc(50% + 699.5px));
  }

  .hero-horizons .horizons-gradient--right-3 {
    transform: translate(calc(50% + 874.5px));
  }

  .hero-horizons .horizons-gradient--right-4 {
    transform: translate(calc(50% + 1049.5px));
  }

  .hero-horizons .horizons-gradient--right-5 {
    transform: translate(calc(50% + 1224.5px));
  }
}

.hero-image-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.hero-image-scroll::-webkit-scrollbar {
  display: none;
}
